SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
CLIENT_ORIGIN=
B2_ENDPOINT=https://s3.us-east-005.backblazeb2.com
B2_REGION=us-east-005
B2_BUCKET=motion-subtitle-media
B2_KEY_ID=
B2_APPLICATION_KEY=
STORAGE_PROVIDER=local
